version: '3.6'
services:

    #  ==================================
    mysql:
        container_name:  mysql
        # build:  ./docker/mysql
        build:
            context:  ./db/engine/mysql
            dockerfile:  Dockerfile
        restart: always
        environment:
            # MYSQL_deliver:  sample_db
            # MYSQL_USER:  user
            # MYSQL_PASSWORD: password
            # MYSQL_ROOT_PASSWORD: password
            - MYSQL_deliver=app
            - MYSQL_USER=user
            - MYSQL_PASSWORD=user
            - MYSQL_ROOT_PASSWORD=password
            - TZ=Asia/Tokyo
        ports:
            -  "3306:3306"
        volumes:
            - ./db/engine/mysql/conf.d:/etc/mysql/conf.d
            - ./db/engine/mysql/initdb.d:/docker-entrypoint-initdb.d
            - ./db/engine/mysql/data:/var/lib/mysql
        #     -  ./log/mysql:/var/log/mysql

    # #  ==================================
    # phpmyadmin:
    #     container_name:  phpmyadmin
    #     build:
    #         context:  ./db/tool/phpmyadmin
    #         dockerfile:  Dockerfile
    #     environment:
    #         - PMA_ARBITRARY=1
    #         - PMA_HOST=mysql
    #         - PMA_USER=root
    #         - PMA_PASSWORD=password
    #     ports:
    #         -  "8090:80"
    #     volumes:
    #         - "./db/tool/phpmyadmin/sessions:/sessions"
    #     links:
    #         -  mysql



    # #  ==================================
    # #  postgres  サービス
    # postgres:
    #     container_name:  postgres
    #     build:
    #         context:  ./db/engine/postgres
    #         dockerfile:  Dockerfile
    #     environment:
    #         -  POSTGRES_USER=app_user
    #         -  POSTGRES_PASSWORD=password
    #         -  POSTGRES_DB=app_db
    #     hostname:  postgres
    #     restart:  always
    #     user:  root

    # #  ==================================
    # pgadmin:
    #     container_name:  pgadmin
    #     build:
    #         context:  ./db/tool/pgadmin
    #         dockerfile:  Dockerfile
    #     ports:
    #         -  8091:80
    #     volumes:
    #         -  ./db/tool/pgadmin:/var/lib/pgadmin/storage
    #     environment:
    #         PGADMIN_DEFAULT_EMAIL:  root
    #         PGADMIN_DEFAULT_PASSWORD:  root
    #     hostname:  pgadmin
    #     restart:  always



    # ==================================
    # mongo:
    #     image:  mongo
    #     restart:  always
    #     environment:
    #         MONGO_INITDB_ROOT_USERNAME:  root
    #         MONGO_INITDB_ROOT_PASSWORD:  example
    #     ports:
    #         -  27017:27017
    #     volumes:
    #         -  ./db:/data/db
    #         -  ./configdb:/data/configdb

    # #  ==================================
    # mongo-express:
    #     image:  mongo-express
    #     restart:  always
    #     ports:
    #         -  8092:8081
    #     environment:
    #         ME_CONFIG_MONGODB_ADMINUSERNAME:  root
    #         ME_CONFIG_MONGODB_ADMINPASSWORD:  example

    # #  ==================================
    # go_api1:
    #     build:
    #         context: ./go_api1/app
    #         dockerfile: Dockerfile
    #     container_name: go_api1
    #     volumes:
    #         - ./go_api1:/go/src
    #     ports:
    #         - "1234:4321"
    #     command: ["4321", "1234"]
    #     # restart: always
    #     environment:
    #         - PORT=1234
    #         - DB_HOST=mysql
    #         - DB_PORT=3306
    #         - DB_NAME=app
    #         - DB_USER=user
    #         - DB_PASSWORD=user
    #     depends_on:
    #         -  mysql

    # #  ==================================
    # go_api2:
    #     build:
    #         context: ./go_api2/app
    #         dockerfile: Dockerfile
    #     container_name: go_api2
    #     volumes:
    #         - ./go_api2:/go/src
    #     ports:
    #         - "1234:4321"
    #     command: ["4321", "1234"]
    #     # restart: always
    #     environment:
    #         - GO111MODULE=off
    #         - GOPATH=/go
    #         - PORT=1234
    #         - DB_HOST=mysql
    #         - DB_PORT=3306
    #         - DB_NAME=app
    #         - DB_USER=user
    #         - DB_PASSWORD=user
    #     tty: true
    #     links:
    #         -  mysql

    # #  ==================================
    # go_api3:
    #     build:
    #         context: ./go_api3/app
    #         dockerfile: Dockerfile
    #     container_name: go_api3
    #     volumes:
    #         - ./go_api3:/go/src
    #     ports:
    #         - "1234:4321"
    #     command: ["4321", "1234"]
    #     # restart: always
    #     environment:
    #         - GO111MODULE=off
    #         - GOPATH=/go
    #         - PORT=1234
    #         - DB_HOST=mysql
    #         - DB_PORT=3306
    #         - DB_NAME=app
    #         - DB_USER=user
    #         - DB_PASSWORD=user
    #     tty: true
    #     links:
    #         -  mysql

    #  ==================================
    # go_api4:
    #     build:
    #         context: ./go_api4/app
    #         dockerfile: Dockerfile
    #     container_name: go_api4
    #     volumes:
    #         - ./go_api4:/go/src
    #     ports:
    #         - "1234:4321"
    #     command: ["4321", "1234"]
    #     # restart: always
    #     environment:
    #         - GO111MODULE=off
    #         - GOPATH=/go
    #         - PORT=1234
    #         - DB_HOST=mysql
    #         - DB_PORT=3306
    #         - DB_NAME=app
    #         - DB_USER=user
    #         - DB_PASSWORD=user
    #     tty: true
    #     links:
    #         -  mysql


    # #  ==================================
    # go_api5:
    #     build:
    #         context: ./go_api5
    #         dockerfile: Dockerfile
    #     container_name: go_api5
    #     volumes:
    #         - ./go_api5:/go/src/app
    #     ports:
    #         - "1234:4321"
    #     command: ["4321", "1234"]
    #     # restart: always
    #     environment:
    #         - GO111MODULE=off
    #         - GOPATH=/go
    #         - PORT=1234
    #         - DB_HOST=mysql
    #         - DB_PORT=3306
    #         - DB_NAME=app
    #         - DB_USER=user
    #         - DB_PASSWORD=user
    #     tty: true
    #     links:
    #         -  mysql


    # #  ==================================
    # go_api6: // test
    #     build:
    #         context: ./go_api6
    #         dockerfile: Dockerfile
    #     container_name: go_api6
    #     volumes:
    #         - ./go_api6:/go/src/app
    #     ports:
    #         - "1234:4321"
    #     command: ["4321", "1234"]
    #     # restart: always
    #     environment:
    #         - GO111MODULE=off
    #         - GOPATH=/go
    #         - PORT=1234
    #         - DB_HOST=mysql
    #         - DB_PORT=3306
    #         - DB_NAME=app
    #         - DB_USER=user
    #         - DB_PASSWORD=user
    #     tty: true
    #     links:
    #         -  mysql

    # #  ==================================
    # go_apit:
    #     build:
    #         context: ./go_apit
    #         dockerfile: Dockerfile
    #     container_name: go_apit
    #     volumes:
    #         - ./go_apit:/go/src/todo
    #     ports:
    #         - "7070:7171"
    #     # command: ["4321", "1234"]
    #     # restart: always
    #     environment:
    #         - GO111MODULE=off
    #         - GOPATH=/go
    #         - PORT=7070
    #     tty: true

    # #  ==================================
    # go_api7:
    #     build:
    #         context: ./go_api7
    #         dockerfile: Dockerfile
    #     container_name: go_api7
    #     volumes:
    #         - ./go_api7:/go/src/app
    #     ports:
    #         - "1234:4321"
    #     command: ["4321", "1234"]
    #     # restart: always
    #     environment:
    #         - GO111MODULE=off
    #         - GOPATH=/go
    #         - PORT=1234
    #         - DB_HOST=mysql
    #         - DB_PORT=3306
    #         - DB_NAME=app
    #         - DB_USER=user
    #         - DB_PASSWORD=user
    #     tty: true
    #     links:
    #         -  mysql

    #  ==================================
    go_api8:
        build:
            context: ./go_api8
            dockerfile: Dockerfile
        container_name: go_api8
        volumes:
            - ./go_api8:/go/src/app
        ports:
            - "1234:4321"
        command: ["4321", "1234"]
        environment:
            - GO111MODULE=off
            - GOPATH=/go
            - PORT=1234
        tty: true
        links:
            -  mysql
