version: '3.6'
services:

    #  ==================================
    mysql:
        restart: always
        container_name: mysql
        build:
            context: ./db/engine/mysql
            dockerfile: Dockerfile
        environment:
            # MYSQL_supplier: sample_db
            # MYSQL_USER: user
            # MYSQL_PASSWORD: password
            # MYSQL_ROOT_PASSWORD: password
            - MYSQL_DATABASE=app
            - MYSQL_USER=user
            - MYSQL_PASSWORD=user
            - MYSQL_ROOT_PASSWORD=password
            - TZ=Asia/Tokyo
        ports:
            - "13306:13306"
        volumes:
            - ./db/engine/mysql/conf.d:/etc/mysql/conf.d
            - ./db/engine/mysql/initdb.d:/docker-entrypoint-initdb.d
            - ./db/engine/mysql/data:/var/lib/mysql
        #     - ./log/mysql:/var/log/mysql

    # #  ==================================
    # phpmyadmin:
    #     container_name: phpmyadmin
    #     build:
    #         context: ./db/tool/phpmyadmin
    #         dockerfile: Dockerfile
    #     environment:
    #         - PMA_ARBITRARY=1
    #         - PMA_HOST=mysql
    #         - PMA_USER=root
    #         - PMA_PASSWORD=password
    #     ports:
    #         - "8090:80"
    #     volumes:
    #         - "./db/tool/phpmyadmin/sessions:/sessions"
    #     links:
    #         - mysql
    #     depends_on:
    #         - mysql


    #  ==================================
    postgres:
        restart: always
        container_name: postgres
        hostname: postgres
        build:
            context: ./db/engine/postgres
            dockerfile: Dockerfile
        ports:
            - "15432:5432"
        environment:
            # - POSTGRES_DB=postgres
            # - POSTGRES_USER=root
            # - POSTGRES_PASSWORD=root
            - POSTGRES_DB=app
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=user
        user: root
        volumes:
            - ./db/engine/postgres/initdb.d:/docker-entrypoint-initdb.d
            - ./db/engine/postgres/data:/var/lib/postgres/data


    # #  ==================================
    # pgadmin:
    #     restart: always
    #     container_name: pgadmin
    #     hostname: pgadmin
    #     build:
    #         context: ./db/tool/pgadmin
    #         dockerfile: Dockerfile
    #     ports:
    #         - 8091:80
    #     volumes:
    #         - ./db/tool/pgadmin:/var/lib/pgadmin/storage
    #     environment:
    #         PGADMIN_DEFAULT_EMAIL: root
    #         PGADMIN_DEFAULT_PASSWORD: root
    #     depends_on:
    #         - postgres

    # ==================================
    mongo:
        restart: always
        container_name: mongo
        build:
            context: ./db/engine/mongo
            dockerfile: Dockerfile
        environment:
            MONGO_INITDB_DATABASE: app
            MONGO_INITDB_ROOT_USERNAME: user
            MONGO_INITDB_ROOT_PASSWORD: user
            TZ: Asia/Tokyo
        ports:
            - 27017:27017
        volumes:
            - ./db/engine/mongo/initdb.d:/docker-entrypoint-initdb.d


    #  ==================================
    mongo-express:
        image: mongo-express
        restart: always
        ports:
            - 18081:8081
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: user
            ME_CONFIG_MONGODB_ADMINPASSWORD: user

    #  ==================================
    go_api9:
        restart: always
        build:
            context: ./go_api9
            dockerfile: build/Dockerfile
        container_name: go_api9
        volumes:
            - ./go_api9:/go/src/app
        ports:
            - "1234:1234"
        command: ["4321", "1234"]
        environment:
            - GOPATH=/go
            - PORT=1234
        tty: true
        links:
            - mysql
            - postgres
            - mongo
        depends_on:
            - mysql
            - postgres
            - mongo
