version: '3.6'
services:

    #  ==================================
    mysql:
        restart: always
        container_name: mysql
        # build:  ./docker/mysql
        build:
            context:  ./db/engine/mysql
            dockerfile:  Dockerfile
        environment:
            # MYSQL_supplier:  sample_db
            # MYSQL_USER:  user
            # MYSQL_PASSWORD: password
            # MYSQL_ROOT_PASSWORD: password
            - MYSQL_DATABASE=app
            - MYSQL_USER=user
            - MYSQL_PASSWORD=user
            - MYSQL_ROOT_PASSWORD=password
            - TZ=Asia/Tokyo
        ports:
            -  "13306:13306"
        volumes:
            - ./db/engine/mysql/conf.d:/etc/mysql/conf.d
            - ./db/engine/mysql/initdb.d:/docker-entrypoint-initdb.d
            - ./db/engine/mysql/data:/var/lib/mysql
        #     -  ./log/mysql:/var/log/mysql

    #  ==================================
    phpmyadmin:
        container_name:  phpmyadmin
        build:
            context:  ./db/tool/phpmyadmin
            dockerfile:  Dockerfile
        environment:
            - PMA_ARBITRARY=1
            - PMA_HOST=mysql
            - PMA_USER=root
            - PMA_PASSWORD=password
        ports:
            -  "8090:80"
        volumes:
            - "./db/tool/phpmyadmin/sessions:/sessions"
        links:
            -  mysql



    # #  ==================================
    # #  postgres  サービス
    # postgres:
    #     container_name:  postgres
    #     build:
    #         context:  ./db/engine/postgres
    #         dockerfile:  Dockerfile
    #     environment:
    #         -  POSTGRES_USER=app_user
    #         -  POSTGRES_PASSWORD=password
    #         -  POSTGRES_DB=app_db
    #     hostname:  postgres
    #     restart:  always
    #     user:  root

    # #  ==================================
    # pgadmin:
    #     container_name:  pgadmin
    #     build:
    #         context:  ./db/tool/pgadmin
    #         dockerfile:  Dockerfile
    #     ports:
    #         -  8091:80
    #     volumes:
    #         -  ./db/tool/pgadmin:/var/lib/pgadmin/storage
    #     environment:
    #         PGADMIN_DEFAULT_EMAIL:  root
    #         PGADMIN_DEFAULT_PASSWORD:  root
    #     hostname:  pgadmin
    #     restart:  always

    # ==================================
    # mongo:
    #     image:  mongo
    #     restart:  always
    #     environment:
    #         MONGO_INITDB_ROOT_USERNAME:  root
    #         MONGO_INITDB_ROOT_PASSWORD:  example
    #     ports:
    #         -  27017:27017
    #     volumes:
    #         -  ./db:/data/db
    #         -  ./configdb:/data/configdb

    # #  ==================================
    # mongo-express:
    #     image:  mongo-express
    #     restart:  always
    #     ports:
    #         -  8092:8081
    #     environment:
    #         ME_CONFIG_MONGODB_ADMINUSERNAME:  root
    #         ME_CONFIG_MONGODB_ADMINPASSWORD:  example

    #  ==================================
    go_api9:
        restart: always
        build:
            context: ./go_api9
            dockerfile: build/Dockerfile
        container_name: go_api9
        volumes:
            - ./go_api9:/go/src/app
        ports:
            - "1234:1234"
        command: ["4321", "1234"]
        environment:
            - GOPATH=/go
            - PORT=1234
            - DB_HOST=mysql
            - DB_PORT=13306
            - DB_NAME=app
            - DB_USER=user
            - DB_PASSWORD=user
        tty: true
        links:
            -  mysql
