
[v-cloak] {
  display: none;
}

.add-button-style {
  /* margin: 4px; */
  border-radius: 16px;
  color: white;
  text-align: center;
  border-width: 4px !important;
}

.border_color_black {
  border-color: #333333 !important;
}

.border_color_gray {
  border-color: #6c757d !important;
}


.text-left {
  text-align: left;
}

.badge {
  margin-left: 10px;
  padding: 10px;
}



