/* @page {
	size: A4 portrait;
}


.page {
	width: 210mm;
	height: 297mm;
	box-sizing: border-box;
}


	
.page {
	page-break-after: always;
}

.page:last-child {
	page-break-after: auto;
}

@media print {
	.no_print {
		display: none;
	}
} */


.bar-code {
	border: 1px solid gray;
}	
